<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0xEYXvQOtsEYB3XRrru7L67diWXbOroc</string>
	<key>GCM_SENDER_ID</key>
	<string>364563782587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseclean.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>isenecafirebase-4a37f</string>
	<key>STORAGE_BUCKET</key>
	<string>isenecafirebase-4a37f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364563782587:ios:c246b06ff21aaea270829e</string>
</dict>
</plist>